@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: 'Poppins', sans-serif !important;
  
}

li, button, a{
  font-weight: 500;
  font-size: 16px;
  color:#000;
  text-decoration: none;
  list-style: none;
  background-color: #fefefe;
}

li{
  margin-left:40px;
  
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fefefe;
}

ul{
  display: flex;
  flex-direction: row;
  padding:30px;
  background-color: #fefefe;
}

.contact_nav_btn{
  background-color: #0065ff;
  color:#fff;
  padding:8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}

.contact_nav_btn:hover {
  background-color:#0b80f4;
  transition: 0.5s;
}

/* /////////Hero Banner Styling///////// */

.hero_container{
  width:100%;
  height:auto;
  padding: 5%;
  padding-left:15%;
  padding-right:15%;
  line-height: 1.4;
  /* position: relative; */
  margin-bottom: 45px;
  margin-top: 45px;
}

.banner_title_1{
  font-size: 65px;
  font-weight: 400;
  position: relative;
}

.banner_title_2{
  font-size: 65px;
  font-weight: 400;
}

.banner_name_span{
  color:#0065ff;
  font-weight: 500;
}

.banner_website_span{
  font-weight: 500;
}


/* ///////////Main page styling///////////// */

.main_container{
  width:100%;
  height:auto;
  padding-left:15%;
  padding-right:15%;
  display: flex;
  flex-direction: row;
  gap:30px;
}

.skills_card_container{
  padding:40px;
  background-color:#f6f6f6;
  width:30%;
  /* height:597px; */
  flex-shrink:0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap:60px;
}

.profile_container{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap:16px; */
}

.profile_img_container{
  width:84px;
  height:84px;
  flex-shrink: 0;
  border-radius: 84px;
  position: relative;
  background-color: #0065ff;
  margin-bottom:16px;
}

.profile_img{
  height:66px;
  height:66px;
  position: absolute;
  left:9px;
  top:22px;
  border-radius: 100px;
  background-color: transparent;
  padding:3px;
  margin-bottom:10px;
}

.skills_card_name{
  font-size: 25px;
  font-weight: 500;
  background-color:#f6f6f6;
}

.skills_card_developer{
  font-size: 20px;
  font-weight: 400;
  background-color:#f6f6f6;
  margin-bottom:5px;
}

.availability_btn{
  color:#00cb6a;
  background-color:#f6f6f6;
  font-size:15px;
}

.profile_desc_container{
  background-color:#f6f6f6;
}

.skills_desc{
  font-size: 20px;
  color:#616063;
  background-color:#f6f6f6;
  margin-bottom:25px;
  line-height: 150%;
}

.skills_desc_span{
  font-size: 20px;
  color:#616063;
  font-weight: 500;
  background-color:#f6f6f6;
}

.skills_btn_container{
  display: flex;
  width:310px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}

.skills_btn{
  padding:5px;
  font-size: 14px;
 padding: 6px 14px;
  font-weight: 400;
  background-color: #e7e7e7;
  border:none;
  border-radius: 100px;
}

.about_card_container{
  width:100%;
  padding:30px;
  background-color:#f6f6f6;
  border-radius: 25px;
}

.about_title{
  font-size: 24px;
  font-weight: 500;
  margin-top:20px;
  background-color: #f6f6f6;
}

.about_text{
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-top:50px;
  color:#616063;
  background-color: #f6f6f6;
}

.about_btn_container{
  margin-top:50px;
  background-color: #f6f6f6;
}

.connect_about_btn{
  border-radius: 78px;
  background-color: #0065ff;
  padding: 16px 32px;
  font-weight: 600;
  color:#e7e7e7;
  border:none;
}

.view_work_btn{
  border-radius: 78px;
  background-color:#e9e9e9 ;
  color:#0065ff;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border:none;
  margin-left:20px;
}



@media screen and (max-width:990px){
  .banner_title_1{
    font-size: 50px;
  }
  .banner_title_2{
    font-size: 50px;
  }

  .main_container{
    flex-direction: column;
    padding-left:5%;
    padding-right:5%;
  }

  .hero_container{
    padding-left:5%;
    padding-right:5%;
  }

  .skills_card_container{
    width:100%;
  }

  .about_card_container{
    width:100%;
  }

  .about_text{
    font-size: 16px;
    margin-top:25px;
  }

  .about_btn_container{
    flex-direction: row;
    display: flex;
 
  }

  .connect_about_btn{
    padding:12px 24px;
    font-size: 12px;
  }

  .view_work_btn{
    padding:12px 24px;
    font-size: 12px;
  }
}

@media screen and (max-width:450px){
  .banner_title_1{
    font-size: 35px;
  }
  .banner_title_2{
    font-size: 35px;
  }

  .about_btn_container{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap:10px;
  }

  .connect_about_btn{
    padding:12px 24px;
    font-size: 12px;
  }

  .view_work_btn{
    padding:12px 24px;
    font-size: 12px;
    margin-left: 0px;

  }
}


