@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-family: 'Poppins', sans-serif !important;
  
}

html{
  scroll-behavior: smooth;
}

li, button, a{
  font-weight: 500;
  font-size: 16px;
  color:#000;
  text-decoration: none !important;
  list-style: none;
  /* background-color: #fefefe !important; */
}

li{
  margin-left:40px;
  
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fefefe;
}

nav{
  background-color: #fefefe !important;
}

ul{
  display: flex;
  flex-direction: row;
  padding:30px;
  background-color: #fefefe;
}

.nav-link{
  background-color: #fefefe !important;
}

.navbar-nav{
  gap:10px;
}

.navbar-collapse{
  justify-content: left !important;
}

.container{
  background-color: #fefefe;
}

.navbar-toggler{
  border:none !important;
  background-color: #fefefe;
}

.navbar-toggler:focus{
  border:none !important;
  background-color: #fefefe;
  box-shadow: none;
}

.navbar-toggler:active{
  border:none !important;
  background-color: #fefefe;
}

.contact_nav_btn{
  background-color: #0065ff !important;
  color:#fff !important;
  padding:8px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-radius: 50px;
}

.contact_nav_btn:hover {
  background-color:#0b80f4;
  transition: 0.5s;
}

.gotopbtn{
  position: fixed;
  width:50px;
  height:50px;
  background-color: #f7f7f9;
  bottom:40px;
  right:50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
}

/* /////////Hero Banner Styling///////// */

.hero_container{
  width:100%;
  height:auto;
  padding: 5%;
  padding-left:15%;
  padding-right:15%;
  line-height: 1.4;
  /* position: relative; */
  margin-bottom: 45px;
  margin-top: 45px;
}

.banner_title_1{
  font-size: 65px;
  font-weight: 400;
  position: relative;
}

.banner_title_2{
  font-size: 65px;
  font-weight: 400;
}

.banner_name_span{
  color:#0065ff;
  font-weight: 500;
}

.banner_website_span{
  font-weight: 500;
}


/* ///////////Main page styling///////////// */

.main_container{
  width:100%;
  height:auto;
  padding-left:15%;
  padding-right:15%;
  display: flex;
  flex-direction: row;
  gap:30px;
}

.skills_card_container{
  padding:40px;
  background-color:#f6f6f6;
  width:30%;
  /* height:597px; */
  flex-shrink:0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap:60px;
}

.profile_container{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap:16px; */
}

.profile_img_container{
  width:84px;
  height:84px;
  flex-shrink: 0;
  border-radius: 84px;
  position: relative;
  background-color: #0065ff;
  margin-bottom:16px;
}

.profile_img{
  height:66px;
  height:66px;
  position: absolute;
  left:9px;
  top:22px;
  border-radius: 100px;
  background-color: transparent;
  padding:3px;
  margin-bottom:10px;
}

.skills_card_name{
  font-size: 25px;
  font-weight: 500;
  background-color:#f6f6f6;
}

.skills_card_developer{
  font-size: 20px;
  font-weight: 400;
  background-color:#f6f6f6;
  margin-bottom:5px;
}

.availability_btn{
  color:#00cb6a;
  background-color:#f6f6f6;
  font-size:15px;
}

.profile_desc_container{
  background-color:#f6f6f6;
}

.skills_desc{
  font-size: 20px;
  color:#616063;
  background-color:#f6f6f6;
  margin-bottom:25px;
  line-height: 150%;
}

.skills_desc_span{
  font-size: 20px;
  color:#616063;
  font-weight: 500;
  background-color:#f6f6f6;
}

.skills_btn_container{
  display: flex;
  width:310px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  background-color: transparent;
}

.skills_btn{
  padding:5px;
  font-size: 14px;
 padding: 6px 14px;
  font-weight: 400;
  background-color: #e7e7e7;
  border:none;
  border-radius: 100px;
}

.about_card_container{
  width:100%;
  padding:30px;
  background-color:#f6f6f6;
  border-radius: 25px;
}

.about_title{
  font-size: 24px;
  font-weight: 500;
  margin-top:20px;
  background-color: #f6f6f6;
}

.about_text{
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-top:50px;
  color:#616063;
  background-color: #f6f6f6;
}

.about_btn_container{
  margin-top:50px;
  background-color: #f6f6f6;
}

.connect_about_btn{
  border-radius: 78px;
  background-color: #0065ff;
  padding: 16px 32px;
  font-weight: 600;
  color:#e7e7e7;
  border:none;
}

.view_work_btn{
  border-radius: 78px;
  background-color:#e9e9e9 ;
  color:#0065ff;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border:none;
  margin-left:20px;
}

/* /////////////Projects section styling//////////////// */

.projects_container{
  padding-left:15%;
  padding-right:15%;
  margin-top:200px;
  margin-bottom:80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:15px;
  
}

.project_1_wrapper{
  height:auto;
  width:374px;
  background-color: #f6f6f6;
  padding:15px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.project_1_img{
  height:274px;
  width:100%;
  border-radius: 18px;
  filter: brightness(1);
  border-bottom: none;
}

.project_1_img:hover{
  filter: brightness(.92);
  cursor: pointer;
  transition: 1s;
}

.coming_soon{
  filter: brightness(1);
}

.project_title_1{
  background-color: transparent;
  color:#fff;
  font-weight: 500;
  font-size: 20px;
  background-color: #0065ff;
  border-radius: 50px;
  padding: 5px 0px;
  text-align: center;
  margin-bottom:20px;
  margin-top:5px;
}

.project_skills{
  width:100%;
  padding-top:20px;
}

.project_skills_btn{
  border-radius: 15px !important;
}

.project_desc{
  font-weight: 400;
  color:#616063;
  padding:15px 0px;
  background-color: #f6f6f6;
}

.demo_btn, .repo_code_btn{
  background-color: #0065ff;
  color: #f6f6f6;
  font-weight: 500;
}

.projects_view_btn_container{
  justify-content: center;
  display: flex;
  margin-bottom: 200px;
}

/* ////////////////////resume and contact section styling//////////////////////// */


.contact_section_container{
  display: flex;
  flex-direction: row;
  width:100%;
  padding-left:15%;
  padding-right:15%;
  justify-content: center;
  gap:25px;
  margin-bottom: 200px;
}

.resume_wrapper{
  width:50%;
  height:573px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  background-color: #e7f0ff;
  border-radius: 24px;
  gap:15px;
}

.contact_wrapper{
  width:50%;
  height:573px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f9;
  gap:15px;
  /* position: relative; */
}

.contact_icon_container{
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
}

.contact_bubble_title_resume{
  background-color: #e7f0ff;
  font-size: 30px;
}

.contact_bubble_title_contact{
  background-color: #f7f7f9;
  font-size: 30px;
}

.contact_email{
  background-color: #f7f7f9;
  color: #000;
}

.view_btn{
  background-color: transparent;
  color: #616063;
  background-color: #f7f7f9;
  font-weight: 600;
  padding:5px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.resume_btn_container{
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.download_btn{
  background-color: #f7f7f9;
  padding:5px 30px;
  border-radius: 50px;
  color:#616063;
  margin-left:10px;
  cursor: pointer;
  font-weight: 600;
}

.contact_icon{
  background-color: transparent !important;
  margin-left:10px;
  cursor: pointer;
}


@media screen and (max-width:1400px){
  .main_container{
    padding-left: 10%;
    padding-right: 10%;
  }

  .projects_container{
    padding-left: 10%;
    padding-right: 10%;
  }

}

@media screen and (max-width:1220px){
  .main_container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact_section_container{
    flex-direction: column;
    width:100%;
  }

  .resume_wrapper{
    width:100%;
  }

  .contact_wrapper{
    width:100%;
  }

}

@media screen and (max-width:990px){

  header{
    justify-content: left;
    padding-left:0px;
    width:100% !important;
  }

  .navbar-nav{
    margin-left:10px;
    background-color: #fefefe !important;
  }

  .contact_nav_btn{
   text-align: center;
   width:100%;
  }

  li a{
    font-size: 14px;
  }

  .banner_title_1{
    font-size: 50px;
  }
  .banner_title_2{
    font-size: 50px;
  }

  .main_container{
    flex-direction: column;
    padding-left:5%;
    padding-right:5%;
  }

  .hero_container{
    padding-left:5%;
    padding-right:5%;
  }

  .skills_card_container{
    width:100%;
  }

  .about_card_container{
    width:100%;
  }

  .about_text{
    font-size: 16px;
    margin-top:25px;
  }

  .about_btn_container{
    flex-direction: row;
    display: flex;
 
  }

  .connect_about_btn{
    padding:12px 24px;
    font-size: 12px;
  }

  .view_work_btn{
    padding:12px 24px;
    font-size: 12px;
  }

  .projects_container{
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 80px;
  }

  .project_1_wrapper{
    flex-direction: column;
    width:100%;
    /* width:313.84px; */
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }

  .project_1_img{
    max-width: 320px;
  }

  .project_desc{
    display: none;
  }

  .project_skills_btn{
    display: none;
  }

  .project_skills{
    justify-content: center;
  }

  .project_1_img{
    width:100%;
    height:274px;
    flex-shrink: 0;
    filter: brightness(.95);
  }

  .project_title_1{
    display: none;
  }

  .demo_btn{
    display:show;
  }
}

@media screen and (max-width:650px){
  li {
    margin-left: 10px !important;
    justify-content: space-evenly;
  }

  ul{
    padding-left:0px;
    padding-right:0px;
  }

  header{
    width: 100%;
    padding-left:0px;
    padding-right:0px;
  }

  .contact_section_container{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
  }

  .projects_view_btn_container{
    margin-bottom: 80px;
  }

}

@media screen and (max-width:450px){
  .banner_title_1{
    font-size: 35px;
  }
  .banner_title_2{
    font-size: 35px;
  }

  .about_btn_container{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap:10px;
  }

  .connect_about_btn{
    padding:12px 24px;
    font-size: 12px;
  }

  .view_work_btn{
    padding:12px 24px;
    font-size: 12px;
    margin-left: 0px;

  }
}


